<div id="clientes_table">
   <table class="table table-striped" >
      <thead>
         <th scope="col"></th>
         <th scope="col">Nome</th>
         <th scope="col">Data cadastro</th>
      </thead>
      <tbody>
         <% clientes.each do |cliente| %>
         <tr>
            <td>
            <%= link_to content_tag(:i,'' ,class: 'fe fe-edit'), edit_cliente_path(cliente), class: "icon", data: { toggle: "tooltip", placement: "top" },  title: 'Alterar' %>
            </td>
            <td>
               <%= cliente.nome %>
            </td>
            <td>
               <%= cliente.created_at.strftime('%d/%m/%Y %R') %>
            </td>
         </tr>
      
         <% end %>
      </tbody>
   </table>
   <div class="float-right">
      <%= will_paginate clientes, renderer: BootstrapPagination::Rails%>
   </div>
</div>