<%= f.fields_for :telefones do |telefone| %>
  <div class="control-group nested-fields">
    <div class="controls">
      <div class="row">
        <div class="col-md-10 col-sm-10 col-lg-10">
          <ul class="form-group list-unstyled">
          
            <li>
             
              <%= f.input :numero, input_html: {class: 'form-control telefone' }, :placeholder => 'Número' %>
          <%= link_to_remove_association fa_icon('trash', text: 'Remover'), f, class: 'btn btn-outline-danger' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
  </div>
<% end %>