   <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
         <span class="text-uppercase page-subtitle">Clientes</span>
         <h3 class="page-title">Adicionar Cliente</h3>
      </div>
   </div>

<div class="card">
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>