 <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
         <h3 class="page-title">Serviços</h3>
      </div>
   </div>

<div class="card">
  <div class="card-body">
<%= link_to( 'Novo', new_servico_path , class: "btn btn-primary") %>
<br>
<br>
<div id="div_servicos_table">
  <%= render 'servicos_table', servicos: @servicos %>
</div>
  </div>
</div>