<div id="minhas_empresas_table">
   <table class="table table-striped" >
      <thead>
         <th scope="col"></th>
         <th scope="col">Nome</th>
         <th scope="col">Criado em</th>
      </thead>
      <tbody>
         <% empresas.each do |empresa| %>
         <tr>
            <td>
               <div class="btn-group btn-group-sm">
                  <%= link_to fa_icon("search"), edit_empresa_path(empresa), class: "btn btn-outline-primary btn-xs", data: { toggle: "tooltip", placement: "top" },  title: 'Ver' %>
               </div>
            </td>
            <td>
               <%= sou_admin empresa %>
            </td>
            <td>
               <%= empresa.created_at.strftime('%d/%m/%Y %R') %>
            </td>
         </tr>
      
         <% end %>
      </tbody>
   </table>
   <div class="float-right">
      <%= will_paginate empresas, renderer: BootstrapPagination::Rails%>
   </div>
</div>