<div class="card">
  <div class="card-body">
    <h3 class="card-title">Alterar Produto</h3>
    <%= content_tag :h6, @produto.nome, class: 'card-subtitle mb-2 text-muted' %>
    <hr>
    <%= render 'form' %>
  </div>
</div>