  <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
         <h3 class="page-title">Produtos</h3>
      </div>
   </div>

<div class="card">
  <div class="card-body">
<%= link_to( 'Novo', new_produto_path , class: "btn btn-primary") %>
<br>
<br>
<div id="div_produtos_table">
  <%= render 'produtos_table', produtos: @produtos %>
</div>
  </div>
</div>