<%= simple_form_for  empresa, action: "add_refeicao", url: add_membro_empresas_path, remote: true, :method => :put  do |f|%>
<div class="row">
  <div class="col-12 ">
    <div id="div_notice"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8 ">
  <div class="form-group">
          <h5>
            <label for="recipient-name" class="control-label">Adicionar Membro</label>
            </h5>
            <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="text" class="form-control" placeholder="Email do usuário" aria-label="Email do usuário" aria-describedby="button-addon2" name="email">
              <%= f.hidden_field :id , name:'id'%>
              <div class="input-group-append">
              <%= f.submit 'Adicionar', class: 'btn btn-outline-primary'%>
              </div>
            </div>
          </div>
  </div>
</div>
<br>
          
<%end%>
<h5>Membros</h5>
<div id="div_membors_list">
<%= render 'membros_list', membros: membros, empresa: empresa%>
</div>