<%= simple_form_for  @venda, defaults: {label_html: {class: 'form-title form'}}, html: {class: 'form-vertical'} do |f| %>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6">
            <div class="card">
            <div class="card-body">
                <h3 class="card-title">Nova Venda</h3>
                <hr>
            </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-3">
        
        </div>
    </div>
<% end %>