<div class="card">
  <div class="card-body">
    <h3 class="card-title">Vendas</h3>
    <hr>
<%= link_to( 'Novo', new_venda_path , class: "btn btn-outline-primary") %>
<br>
<br>
<div id="div_vendas_table">
  <%= render 'vendas_table', vendas: @vendas %>
</div>
  </div>
</div>