<div class="page-header">
  <h1 class="page-title">Vendas
  </h1>
</div>
<div class="card">
  <div class="card-body">
    
<%= link_to( 'Novo', new_venda_path , class: "btn btn-outline-primary") %>
<br>
<br>
<div id="div_vendas_table">
  <%= render 'vendas_table', vendas: @vendas %>
</div>
  </div>
</div>